div.question{
    display: inline-block;
    font-weight: bold;

    & > *{
        margin-right: 20px;

        &:last-child{
            margin-right: 0;
        }

        @media only screen and (max-width: 600px) {
            margin-right: 10px;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}

span{
    font-size: 30px;
    margin-right: 20px;
}

:deep(.v-input--horizontal){
    width: 250px;
    display: inline-block;

    @media only screen and (max-width: 600px) {
        width: 150px;
    }
}

.d{
    color: red;
}
.i{
    color: yellow
}
.s{
    color: green;
}
.c{
    color: blue;
}